<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>


<div class="detail">
    <h4>상세페이지</h4>
    <img src="https://codingapplespringstudy2.s3.ap-northeast-2.amazonaws.com/test/%EB%B0%94%EC%A7%80.jpg">


    <h4 th:text="${ data.title }">금도금 바지</h4>
    <p th:text="${ data.price + '원' }">7억</p>
</div>

<script>
    async function getURL(e){
        let name = encodeURIComponent(e.files[0].name)
        let result = await fetch('/presigned-url?filename=' + name)
        result = await result.text()
        console.log(result)

        let 결과 = await fetch(result, {
        method : 'PUT',
        body : e.files[0]
        })

        console.log(결과)
        console.log(결과.url.split("?")[0])

        if (결과.ok){
           documnet.querySelector('img').src = 결과.url.split("?")[0]
        }
    }
</script>

</body>
</html>